<div class="sidebar active">
    <div class="logo-content">
        <div class="logo">
            <img src="" alt="">
            <div class="logo-name">Empire</div>
        </div>
        <i class="fas fa-bars" id="btn"></i>
    </div>
    <ul class="nav-list">
        <li class="nav-item" id="command">
            <a href="#" >
                <i class="fas fa-shopping-cart"></i>
                <span class="link-name">Commandes</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#">
                <i class="fas fa-chart-bar"></i>
                <span class="link-name">Analyse</span>
            </a>
        </li>
        <li class="nav-item" id="bilan">
            <a href="#">
                <i class="fas fa-balance-scale"></i>
                <span class="link-name">Bilan</span>
            </a>
        </li>
        <li class="nav-item" id="gestion">
            <a href="#" >
                <i class="fas fa-edit"></i>
                <span class="link-name">Gestion de Produit</span>
            </a>
        </li>
    </ul>
    <div class="profile-content">
        <div class="profile">
            <div class="profile-details">
                <img src="assets/img/j4.jpg" alt="">
                <div class="name-job">
                    <div class="name">Simo</div>
                    <div class="job">admin</div>
                </div>
            </div>
            <i class="fas fa-sign-out-alt" id="log-out" data-toggle="modal" data-target="#Sign-out"></i>
        </div>
    </div>

</div>



<div class="modal fade" id="Sign-out" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      <form class="needs-validation " action="business/logout.php" method="post">
        <div class="modal-header">
  
  
          <h5 class="modal-title" id="exampleModalLabel">Are you Sure ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
       
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="submit" class="btn btn-primary" >Sign Out</button>
        </div>
        </form>  
      </div>
    </div>
  </div>